@model SincolPDV.Dominio.Fabricante

@{
    ViewBag.Title = "Deletar Fabricante";
    Layout = null;
}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header alert-danger">
            <button type="button" class="close btnSair"><i class="fa fa-times"></i><span class="sr-only">Close</span></button>
            <h3 class="modal-title"><i class="fa fa-trash"></i> Deletar Fabricante</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="box-body">

                    <h4>Deseja realmente deletar o Fabricante <b> @Model.Descricao? </b></h4>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm("DeletarFuncao", "Usuario", FormMethod.Post, new { id = "formDados2" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.FabricanteID)

                <button type="button" class="btn btn-danger" onclick="DeletarModal('/Usuario/DeletarFabricante', '#modal2', 'Fabricante deletado com sucesso!')"><i class="fa fa-trash"></i> Deletar</button>
                <a href="#" class="btn btn-default btnSair"><i class="fa fa-sign-out"></i> Fechar</a>
            }
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        //Gerando datatable
        GeraDataTablePopUp();

        //Botões PopUp
        $('.btnSair').on('click', function () {
            event.preventDefault();
              $("#modal2").modal('hide');
        });

    });

</script>




