@model SincolPDV.Dominio.Produto

@{
    ViewBag.Title = "Novo Estoque";
    Layout = "~/Views/Shared/_PopUp.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header alert-success">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i><span class="sr-only">Close</span></button>
            <h3 class="modal-title"><i class="glyphicon glyphicon-edit"></i> Cadastrar Estoque</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="box-body">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Estoque.Descricao, new { htmlAttributes = new { @class = "form-control required", placeholder = "Nome do novo Estoque" } })
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-flat" onclick="IncluirPopUp('/Produto/NovoEstoque', 'Estoque incluido com sucesso!')" type="button">Salvar</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <table id="example4" class="table table-bordered table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th width="30">Ações</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /.modal-content -->

        <div class="modal-footer">
            <div class="col-md-8">
                <div class="form-group has-error">
                    <label class="control-label" id="mensagem" style="display:none"><i class="fa fa-times-circle-o"></i> Preencha todos os campos obrigatórios</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script>

    $(document).ready(function () {
        //Gerando datatable
        GeraDataTablePopUp();

        //Botões PopUp
        $('#example4 tbody').on('click', '.deleteEstoque', function () {
            var data = $(this).parent().parent().find('span').data('codigo');
            $("#modal2").load("DeletarEstoque?id=" + data, function () {
                $("#modal2").modal('show');
            })
        });

    });

    //Gerando DataTables
    function GeraDataTablePopUp() {
        $('#example4').DataTable({
            destroy: true,
            processing: true,
            paging: true,
            lengthChange: false,
            "ajax": "/Produto/PreencheGridEstoque",
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Portuguese-Brasil.json"
            },
            columns: [
                {
                    "data": "EstoqueID",
                    "render": function (id) {
                        var status = "<span data-codigo='" + id + "'>" + id + "</span>";
                        return status;
                    }
                },
                { "data": "Descricao" },
                {
                    data: null,
                    defaultContent: '<a data-toggle="modal" href="#" class="btn btn-xs btn-danger deleteEstoque"><i class="glyphicon glyphicon-trash"></i></a> ',
                    orderable: false
                },
            ]
        });
    }

</script>

}
